<div class="row">
    <div class="col-md-6">
        <div class="well">
            <div class="row">
                <div class="col-md-7">
                    <p>
                        <em>What is the Weather like in <%=@location %> </em>
                    </p>
                    <p>
                        Temp: <%= @temp %> F
                    </p>
                    <p>
                        Cloud Cover: <%= @cloudiness %>
                    </p>
                </div>
                <div class="col-md-5">
                    b
                </div>
            </div>
        </div>
    </div>
</div>